<h1>Morning reporting</h1>
<form method="POST" action='/behavior/reporting/morning'>
    <input type="date" name="date" />
    <input type="number" name="sleep_duration" min="0" max="24" step="0.1" />
    <input type="number" name="sleep_quality" min="1" max="5" />
    <input type="number" name="generic_mood" min="1" max="5" />
    <input type="submit" value="Submit report!" />
</form>
